snippet lg "console.log"
  console.log($1)

snippet fn "function"
  function $1($2) {
    $3
  }

snippet fnr "function with return"
  function $1($2) {
    $4
    return $3
  }

snippet fa "fat arrow"
  ($1) => $2

snippet far "fat arrow with return"
  ($1) => {
    return $2
  }

snippet cfa "const fat arrow"
  const $1 = ($2) => $3

snippet cfar "const fat arrow with return"
  const $1 = ($2) => {
    $4
    return $3
  }

snippet eslint "eslint disable"
  // eslint-disable-next-line $1
