extends javascript

priority 100

snippet fnr "function"
  function $1($2): $3 {
    return $4
  }

snippet far "fat arrow with return"
  ($1): $2 => {
    return $3
  }

snippet cfar "const fat arrow with return"
  const $1 = ($2): $3 => {
    $5
    return $4
  }
